{{!
    @template theme_beekee/nav-drawer2


    Example context (json): {}
}}
<div id="nav-drawer-desktop" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="false" tabindex="-1">
    {{> theme_boost/flat_navigation }}
</div>
